@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 0 10px;
}
.wrapper
{
  background: #fff;
  max-width: 450px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5); 
}

/*signup form css code*/
.form
{
  padding: 25px 30px;  
}

.form header
{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;   
}

.form form
{
  margin: 20px 0;
}

.form form .error-txt
{
  color: #721c24;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  display: none;                                   /*to hide the error meassage initially*/
}

/* .form form .name-details{
    display: flex;
  }
  .form .name-details .field:first-child{
    margin-right: 10px;
  }
  .form .name-details .field:last-child{
    margin-left: 10px;
  } */

.form form .field
{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form form .field i
{
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form form .field i.active::before
{
  color: #333;
  content: "\f070";
}

.form form .field label
{
  margin-bottom: 2px;
} 


.form form .field input
{
  outline: none;
}


.form form .input input
{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .button input{
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}
.form .link
{
  text-align: center;
}

/* users page css code */

.users
{
  padding: 25px 30px;
}

.users header,
.users-list a
{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}


.wrapper img
{
  object-fit: cover;
  border-radius: 50%;
}

:is(.users, .users-list) .content
{
  display: flex;
  align-items: center;
}


.users header .content img
{
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .detalis
{
  color: #000;
  margin-left: 15px; 
}

:is(.users, .users-list) .detalis span
{
  font-size: 18px;
  font-weight: 500;
}

.users header .logout
{
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background: #333;
  border-radius: 5px;
}

.users .search
{
  margin: 20px 0;
  direction: flex;
  position: relative;
  align-items: center;
  justify-content: space-between; 
}

.users .search .text
{
  font-size: 18px;
}

.users .search input
{
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.users .search input.active
{
  opacity: 1;
  pointer-events: auto;
}

.users .search button
{
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
}

.users .search button.active
{
  color: #fff;
  background: #333;
  transition: all 0.2s ease;
}

.users .search button.active i::before
{
  content: "\f00d";
}

.users-list
{
  max-height: 350px;
  overflow-y: auto;  /*adds the scrollbar*/
}

:is(.users-list, .chat-box)::-webkit-scrollbar
{
  width: 0px;
}

.users-list a
{
  margin-bottom: 15px;
  page-break-after: 10px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}

.users-list a:last-child
{
  border: none;
  margin-bottom: 0px;
}

.users-list a .content img
{
  height: 40px;
  width: 40px;
}

.users-list a .content p
{
  color: #67676a;  /*adds the color to the test message*/

}

.users-list a .status-dot
{
  font-size: 12px;
  color: #468669;
}


/*This class is used to show the offline status of the user*/
.users-list a .status-dot.offline
{
  color: #ccc;
}







.chat-area header
{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

/*to style the lefr arrow*/
.chat-area header .back-icon
{
    font-size: 18px;
    color: #333;
}

/*to style the profile photo of the user*/
.chat-area header img
{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

/*to style the username*/
.chat-area header span
{
    font-size: 17px;
    font-weight: 500;
}

/*to style the chat area*/
.chat-box
{
    overflow-y: auto;
    height: 500px;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat
{
    margin: 15px 0;
}

.chat-box .chat p
{
    word-wrap: break-word;  /*used to break the line where the text are to long*/
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing
{
    display: flex;
}

/*to adjust the outgoing chat box to the right side*/
.outgoing .details
{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

/*to style the chat outgoing message*/
.outgoing .details p
{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px; /*to add the curve to the meaage box*/
}

.chat-box .incoming
{
    display: flex;
    align-items: flex-end;
}

/*to style the image*/
.chat-box .incoming img
{
    height: 35px;
    width: 35px;
}

.incoming .details
{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.incoming .details p
{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}

/*to style the typing message area*/
.chat-area .typing-area
{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input
{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

/*to style the send icon in chat*/
.typing-area button
{
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}